@import "~bootstrap/scss/bootstrap.scss";

.container {
  border: 1px solid black;
  margin-top: 20%;
}

.row {
  // border: solid yellow;
  margin: 10px 10px 10px 10px;
}

.col {
  border: solid lightgray 2px;
  margin: 1% 1% 1% 1%;
  padding: 1% 1% 1% 1%;
}

.loginPadding {
  padding: 5%;
}

.inputPadding {
  padding-bottom: 5%;
}
