@import "~bootstrap/scss/bootstrap.scss";

.container {
  border: 1px solid black;
  margin-top: 20%;
}

.row {
  // border: solid yellow;
}

.col {
  border: solid blue;
  // make text inside the column center
  text-align: center;
  // padding
}

.loginPadding {
  padding: 5%;
}

.inputPadding {
  padding-bottom: 5%;
}
